<div class="well">
        <ul class="nav nav-list">
            <li>
                <a href="{{path('fos_user_profile_show')  }}">Mijn gegevens</a>
            </li>
             <li>
                 <a href="{{path('fos_user_profile_edit')  }}">Bewerken mijn gegevens</a>
            </li>
             <li>
                 <a href="{{path('fos_user_change_password')  }}">Mijn wachtwoord wijzigen</a>
            </li>            
            <li>
                <a href="{{ path('factures') }}">Mijn facturen</a>
            </li>
            <li>
                <a href="{{path('fos_user_security_logout')  }}">Uitloggen</a>
            </li>
        </ul>
    </div>